---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import Brands from '~/components/widgets/Brands.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
const metadata = {
  title: 'Macro Coats Private Limited',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    
    image={{ src: '~/assets/images/chemist.svg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Macro Coats private limited
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">
          100% Perfect & Solution for corrosion prevention at low temperature
        </span>
      
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline=""
    title="What do we do"
    subtitle="We have more than 30 years of experience in phoshphating in low temperature"
    items={[
      {
        title: 'Iron Phospahte',
        description:
          'Iron phosphating offers corrosion protection, enhances paint adhesion, and improves bonding for adhesives. Its cost-effective, eco-friendly, and versatile, extending the durability of metal products.',
        icon: 'tabler:ironing-1',
      },
      {
        title: 'Manganaese Phospahte',
        description:
          'Manganese phosphate coating provides corrosion resistance, lubrication, and enhanced wear resistance on metal surfaces, improving durability and performance in various industrial applications.',
        icon: 'tabler:components',
      },
      {
        title: 'Zinc Phospahte',
        description:
          'Zinc phosphate coating offers excellent corrosion protection, paint adhesion, and wear resistance on metal surfaces, enhancing durability and performance in diverse industrial applications.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Degreasing',
        description:
          'Degreasing removes oil, grease, and contaminants from surfaces, ensuring better adhesion for coatings, preventing corrosion, improving product quality, and promoting a safer work environment.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Passivating chemicals',
        description:
          'Passivating chemicals enhance the corrosion resistance of metals like stainless steel by forming a protective oxide layer, improving longevity, reducing maintenance, and ensuring product safety in critical applications.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Rust preventice ',
        description:
          'Rust preventive chemicals create a protective barrier on metal surfaces, preventing rust and corrosion, prolonging equipment lifespan, reducing maintenance costs, and preserving appearance and functionality.',
        icon: 'tabler:rocket',
      },
      
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title=""
    items={[
      {
        title: 'Low Temperature Zinc phosphate',
        description:
          'Low Temperature eco freindly zinc phosphating (energy saving, low sludge)',
      },
      {
        title: 'Low Temperature Manganese phosphate',
        description:
          'Low Temperature eco freindly Manganese phosphating (energy saving, low sludge), for structural bridges and rail wagon',
      },
      {
        title: 'Degeasing',
        description:
          'Removal of soot as well as heavy greases',
      },
    ]}
    image={{
      
      src: 'https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/zinc_bg.jpeg',
      alt: 'Macro coats',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
       Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Our Major customers"
    subtitle=""
    tagline=""
    items={[
      {
        title: '',
        description: "",
        icon: 'flat-color-icons:template',
        image :"https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/rane.png"
      },
      {
        title: '',
        description: "",
        icon: 'flat-color-icons:template',
        image :"https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/lmw.png"
      },
      {
        title: '',
        description: "",
        icon: 'flat-color-icons:template',
        image :"https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/lt.png"
      },{
        title: '',
        description: "",
        icon: 'flat-color-icons:template',
        image :"https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/audco.png"
      },
      {
        title: '',
        description: "",
        icon: 'flat-color-icons:template',
        image :"https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/goldsun.png"
      }
    ]}
  > -->
  <Brands
    title="Our Customers"
    subtitle="We have built a strong relationship and customer success"
    icons={[]}
    images={[
      {
        src: 'https://upload.wikimedia.org/wikipedia/en/thumb/8/83/Indian_Railways.svg/636px-Indian_Railways.svg.png',
        alt: 'Indian Railways',
        link:"https://www.indianrail.gov.in/"
      },
      
      {
        src: 'https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/lt.png',
        alt: 'L&T',
        link:"https://www.larsentoubro.com/"
      },
      {
        src: 'https://static.vecteezy.com/system/resources/previews/020/336/393/original/tvs-logo-tvs-icon-transparent-png-free-vector.jpg',
        alt: 'TVS',
        link:"https://www.tvsmotor.com/"
      },
      {
        src: 'https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/lmw.png',
        alt: 'LMW',
        link:"https://www.lmwglobal.com/"
      },
      {
        src: 'https://raw.githubusercontent.com/kumaraswins/macrocoats/master/src/assets/images/rane.png',
        alt: 'Rane',
        link:"https://ranegroup.com/"
      },
      {
        src: 'https://goldsun.in/wp-content/uploads/2021/07/G-S-LOGO-2.png',
        alt: 'Goldsun',
        link:"https://goldsun.in/"
      },
     
      
      {
        src: 'https://rajagencypune.com/wp-content/uploads/2017/04/Audco-India-Ltd.png',
        alt: 'Audco India',
        link:"https://www.globalvalves.in/"
      },
      
      {
        src: 'https://upload.wikimedia.org/wikipedia/commons/6/68/Chemplast_Sanmar.jpg',
        alt: 'Chemplast Sanmar',
        link:"http://www.sanmargroup.com/"
      },
      {
        src: 'https://bsahercules.com/wp-content/uploads/2016/02/TI_Murugappa_Logo_Retina.png',
        alt: 'TI cycles',
        link:"https://tiindia.com/ti-cycles-of-india/"
      },
      
      
      
    ]}
  />
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={``}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <Steps2
  slot="bg"
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'tecco1993@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },

    ]}
  />

  
</Layout>
